<h1>Listing cameras</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of blocks</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cameras.each do |camera| %>
      <tr>
        <td><%= camera.name %></td>
        <td><%= camera.blocks.size %></td>
        <td><%= link_to 'Show', camera %></td>
        <td><%= link_to 'Edit', edit_camera_path(camera) %></td>
        <td><%= link_to 'Destroy', camera, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Camera', new_camera_path %>
